{% extends 'registration/registration_base.html' %}
{% block title %} Registrar Superusuario | Sistema de Gestión de Aprendizaje {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container py-5">
    <div class="blue-gradient text-light p-3 mb-5">
        <h1 class="lead my-0">
            <i class="fas fa-user-plus mr-2"></i>Crear Cuenta de Superusuario
        </h1>
    </div>

    <form action="" method="POST" id="superuser-form">
        {% csrf_token %}

		{% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <h1 class="lead p-2 bg-light">Información de Inicio de Sesión</h1>
                {{ form.username|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                
                <!-- Campo de contraseña 1 -->
                <div class="mb-3">
                    {{ form.password1.label_tag }}
                    <div class="input-group">
                        {{ form.password1 }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('id_password1')">
                            <i class="fas fa-eye" id="togglePasswordIcon1"></i>
                        </button>
                    </div>
                    {% for error in form.password1.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Campo de contraseña 2 -->
                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    <div class="input-group">
                        {{ form.password2 }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('id_password2')">
                            <i class="fas fa-eye" id="togglePasswordIcon2"></i>
                        </button>
                    </div>
                    {% for error in form.password2.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6">
                <h1 class="lead p-2 bg-light">Información Personal</h1>
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.address|as_crispy_field }}
                {{ form.phone|as_crispy_field }}
            </div>
        </div>

         {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Por favor, revisa los siguientes errores:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li><strong>{{ field }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary" id="register-btn">
            <i class="fas fa-user-plus"></i> Registrar Superusuario
        </button>
    </form>
    
    <br>
    <span>¿Ya tienes una cuenta? </span><a href="{% url 'login' %}" class="link">Iniciar sesión</a>
</div>

{% endblock content %}

{% block js %}
<script>
    function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var passwordFieldType = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', passwordFieldType);

        // Cambiar el ícono del botón
        var toggleIcon = fieldId === 'id_password1' ? document.getElementById('togglePasswordIcon1') : document.getElementById('togglePasswordIcon2');
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    }
</script>
{% endblock %}
