{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> 
    <a href="{% url 'lecturer_list' %}" class="primary1">Lecturers</a> <i>&rsaquo;</i> Add</div>
<br>
<div class="title-1"><i class="fas fa-chalkboard-teacher"></i>Lecturer Add Form</div>
<div class="title-line"></div><br>



{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">Login Info</p>
                <div class="p-2">
                    <div class="form-group">
                        <b>ID No.</b>{{ form.username }}
                        <span class="danger">{{ form.username.errors }}</span>
                        <p class="text-muted-xs">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                    </div>
                    <div class="form-group">
                        <b>{{ form.password1.label }}</b>
                        <div class="input-group">
                            {{ form.password1 }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('id_password1')">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <span class="danger">{{ form.password1.errors }}</span>
                        <p class="text-muted-xs">
                            The password can't be too similar to other personal information.<br>
                            The password must contain at least 8 characters.<br>
                            The password can't be a commonly used password.<br>
                            The password can't be entirely numeric.
                        </p>
                    </div>
                    <div class="form-group">
                        <b>{{ form.password2.label }}</b>
                        <div class="input-group">
                            {{ form.password2 }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('id_password2')">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <span class="danger">{{ form.password2.errors }}</span>
                        <p class="text-muted-xs">Enter the same password as before, for verification.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">Personal Info</p>
                <div class="p-2">
                    <div class="form-group">
                        <b>{{ form.first_name.label }}</b>{{ form.first_name }}
                        <span class="danger">{{ form.first_name.errors }}</span>
                    </div>
                    <div class="form-group">
                        <b>{{ form.last_name.label }}</b>{{ form.last_name }}
                        <span class="danger">{{ form.last_name.errors }}</span>
                    </div>
                    <div class="form-group">
                        <b>{{ form.email.label }}</b>{{ form.email }}
                        <span class="danger">{{ form.email.errors }}</span>
                    </div>

                    <div class="form-group">
                        <b>{{ form.address.label }}</b>
                        <div class="input-group mb-3">
                            {{ form.address }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary" type="button"><box-icon name='location-plus' ></box-icon></button>
                              </div>
                        </div>
                        <span class="danger">{{ form.address.errors }}</span>
                    </div>

                    <div class="form-group">
                        <b>{{ form.phone.label }}</b>{{ form.phone }}
                        <span class="danger">{{ form.phone.errors }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <center><input class="btn btn-outline-primary" type="submit" value="Save"></center>

</form>


  <!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px!important">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">             
            <div  style="height: 500px; max-width: 100%;" id="mapa_maps"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


  <script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>

{% endblock content %}
{% block js %}
<script>
    function togglePasswordVisibility(fieldId) {
        var passwordInput = document.getElementById(fieldId);
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Cambiar el ícono de ojo abierto/cerrado
        passwordInput.nextElementSibling.children[0].children[0].classList.toggle('fa-eye');
        passwordInput.nextElementSibling.children[0].children[0].classList.toggle('fa-eye-slash');
    }
</script>
{% endblock %}