{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> Lecturers</div>

{% if request.user.is_superuser %}
<a class="add-button" href="{% url 'add_lecturer' %}"><i class="fas fa-plus"></i>Add Lecturer</a>
{% endif %}

<p class="title-1"><i class="fas fa-chalkboard-teacher"></i>Lecturers List</p>
<div class="title-line"></div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="content-center">
    <form class="search-form" action="" method="GET">{% csrf_token %}
        <input hx-post="{% url 'lecturer_search' %}" hx-trigger="keyup" hx-target="#lecturer_list" class="au-input" type="text" name="id_no" placeholder="ID No." value="{{ request.GET.id_no }}"/>
        <input hx-post="{% url 'lecturer_search' %}" hx-trigger="keyup" hx-target="#lecturer_list" class="au-input" type="text" name="name" placeholder="Name" value="{{ request.GET.name }}"/>
        <input hx-post="{% url 'lecturer_search' %}" hx-trigger="keyup" hx-target="#lecturer_list" class="au-input" type="text" name="email" placeholder="Email" value="{{ request.GET.email }}"/>
        <button class="btn btn-light" type="submit">
            <i class="fas fa-search"></i> filter
        </button>
    </form>
</div>

{% include 'accounts/lecturer_list_search.html' %}


{% endblock content %}

{% block js %}
<script>
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/accounts/lecturers/"
    const responseType = "json"
  
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
      console.log(xhr.response)
    }
    xhr.send()
</script>
{% endblock %}
