{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Inicio</a> <i>&rsaquo;</i> Panel de administrador</div>
<!-- <br> -->
<div class="title-1"><i class="fas fa-user-tie"></i>Panel de administrador</div>
<div class="d-flex justify-content-end mb-3">
   
    <a href="{% url 'register' %}" class="btn btn-primary rounded-pill"> <i class="fas fa-user-plus"></i> Agregar nuevo administrador</a>
</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Administrador de instructores</h5>
                    <p class="card-text">Creacion, visualizacion, edicion y eliminacion de Instructores</p>
                    <a href="{% url 'lecturer_list' %}" class="btn btn-success rounded-pill">Instructores &raquo;</a>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Administrador de Estudiantes</h5>
                    <p class="card-text">Creacion, visualizacion, edicion y eliminacion de Estudiantes</p>
                    <a href="{% url 'student_list' %}" class="btn btn-success rounded-pill">Estudiantes &raquo;</a>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Administrador de sesiones</h5>
                    <p class="card-text">Creacion, visualizacion, edicion y eliminacion de Sesisones</p>
                    <a href="{% url 'session_list' %}" class="btn btn-success rounded-pill">Sesisones &raquo;</a>
                </div>
            </div>
            <div class="mb-4"></div>
                <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Administrador de semestres</h5>
                    <p class="card-text">Creacion, visualizacion, edicion y eliminacion de Semestres</p>
                    <a href="{% url 'semester_list' %}" class="btn btn-success rounded-pill">Semestres &raquo;</a>
                </div>   
            </div>
                
                
        </div>
        <div class="col-md-6 mb-4">
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Agregar y eliminar cursos</h5>
                    <label class="switch switch-text switch-success switch-pill" style="float: right;">
                        <input type="checkbox" class="switch-input" checked="true">
                        <span data-on="On" data-off="Off" class="switch-label"></span>
                        <span class="switch-handle"></span>
                      </label>
                      <p><span>&LongRightArrow;</span> Marcador 
                        <i class="info-text bg-success">ON</i> or <i class="info-text bg-danger">OFF</i>
                    </p><hr>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Programas y cursos</h5>
                    <p class="card-text">Cracion, visualizacion, edicion y eliminacion de programas y cursos</p>
                    <a class="btn btn-success rounded-pill" href="{% url 'programs' %}"> Programas y cursos &raquo;</a>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Asignacion de cursos</h5>
                    <p class="card-text">Cracion, visualizacion, edicion y eliminacion de cursos asignados</p>
                    <a class="btn btn-success rounded-pill" href="{% url 'course_allocation_view' %}"> Asignacion de cursos &raquo;</a>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="card rounded-lg shadow">
                <div class="card_body p-3">
                    <h5 class="card_title"> Noticias y eventos</h5>
                    <p class="card-text">Cracion, visualizacion, edicion y eliminacion de Noticias y eventos registrados</p>
                    <a class="btn btn-success rounded-pill" href="{% url 'home' %}"> Noticias y eventos &raquo;</a>
                </div>
            </div>
                
        </div>
    </div>
</div>

{% endblock %}
