{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}DjangoSMS{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block header %}{% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
   
    {% include 'aside.html' %}
    <div id="main" class="shadow-sm"> <!-- Aplicando sombra al contenedor principal -->
        {% include 'navbar.html' %} <!-- Puedes aplicar clases de Bootstrap aquí también -->

        <div class="container-fluid rounded" id="main-content"> <!-- Bordes redondeados y sombra para main-content -->
            {% block content %}{% endblock content %}
            {% include 'toast.html' %}
        </div>
    </div>
    
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
    <!--lo de nosotros-->
 
    <script src="https://cdn.userway.org/widget.js" data-account="uwQWyDZ4mS"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    
    <script type="text/javascript" src="{% static 'js/mapa.js' %}"></script>
      
    <script type="text/javascript" src="{% static 'js/toast.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#primary-search').focus(function () {
                $('#top-navbar').attr('class', 'dim');
                $('#side-nav').css('pointer-events', 'none');
                $('#main-content').css('pointer-events', 'none');
            });
            $('#primary-search').focusout(function () {
                $('#top-navbar').removeAttr('class');
                $('#side-nav').css('pointer-events', 'auto');
                $('#main-content').css('pointer-events', 'auto');
            });
        })




    </script>

    {% block js %}
    {% endblock js %}

</body>
</html>
